/*
    RESET
*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Fredoka', sans-serif;
}

/*
    GENERAL
*/
.container{
    max-width: 1000px;
    margin: 0 auto;
}

.pink{
    color: #E53170;
}

/*
    HEADER
*/
h1{
    margin: 30px;
    text-align: center;
    font-size: 50px;
}

/*
    MAIN
*/
main > p{
    margin: 30px;
    text-align: center;
}

.clearfix::after{
    content:"";
    display:table;
    clear:both;
}



.cards > *{
    float: left;
    background-color: #0F0E17;
    width: calc((100% / 3) - 20px);
    margin: 20px;
    color:white;
    margin: 10px;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.25);
}

.cards > * > img{
    float: left;
    height: 100px;
    margin-right: 20px;
}

.cards-profile{
    padding: 20px;
}

.cards-profile > *{
    height: 20px;
    font-size: 15px;
}

.email{
    color: aqua;
}
